%h1.ml-4= @title

.alert.alert-warning
  Important: When pasting text into the question field, make sure it is from a neutral source, such as a text editor in plain text mode. Do not paste text from MS Word, MS Excel or other source where the text has been formatted.
  

%h3.ml-4= "For Section: #{@survey_section.title}"

= render 'surveyor_gui/questions/form', question: question